 .nav-link {
    color: white;
    display: initial;
    
  }

  .nav-link .select {
    color: grey;
    display: initial;  
  }

  .ml-auto {
    display: block;
    flex:auto;
  }

  .transparent-button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
  }
  
  .transparent-button:hover {
    opacity: 1;
  }
  